<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }

  p {
    margin: 0;
  }

  .spacer {
    flex: 1;
  }

  .toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #1976d2;
    color: white;
    font-weight: 600;
  }

  .toolbar img {
    margin: 0 16px;
  }

  .toolbar #twitter-logo {
    height: 40px;
    margin: 0 8px;
  }

  .toolbar #youtube-logo {
    height: 40px;
    margin: 0 16px;
  }

  .toolbar #twitter-logo:hover,
  .toolbar #youtube-logo:hover {
    opacity: 0.8;
  }

  .content {
    display: flex;
    margin: 82px auto 32px;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: column;
    align-items: center;
  }

  svg.material-icons {
    height: 24px;
    width: auto;
  }

  svg.material-icons:not(:last-child) {
    margin-right: 8px;
  }

  .card svg.material-icons path {
    fill: #888;
  }

  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 16px;
  }

  .card {
    all: unset;
    border-radius: 4px;
    border: 1px solid #eee;
    background-color: #fafafa;
    height: 40px;
    width: 200px;
    margin: 0 8px 16px;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    line-height: 24px;
  }

  .card-container .card:not(:last-child) {
    margin-right: 0;
  }

  .card.card-small {
    height: 16px;
    width: 168px;
  }

  .card-container .card:not(.highlight-card) {
    cursor: pointer;
  }

  .card-container .card:not(.highlight-card):hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
  }

  .card-container .card:not(.highlight-card):hover .material-icons path {
    fill: rgb(105, 103, 103);
  }

  .card.highlight-card {
    background-color: #1976d2;
    color: white;
    font-weight: 600;
    border: none;
    width: auto;
    min-width: 30%;
    position: relative;
  }

  .card.card.highlight-card span {
    margin-left: 60px;
  }

  svg#rocket {
    width: 80px;
    position: absolute;
    left: -10px;
    top: -24px;
  }

  svg#rocket-smoke {
    height: calc(100vh - 95px);
    position: absolute;
    top: 10px;
    right: 180px;
    z-index: -10;
  }

  a,
  a:visited,
  a:hover {
    color: #1976d2;
    text-decoration: none;
  }

  a:hover {
    color: #125699;
  }

  .terminal {
    position: relative;
    width: 80%;
    max-width: 600px;
    border-radius: 6px;
    padding-top: 45px;
    margin-top: 8px;
    overflow: hidden;
    background-color: rgb(15, 15, 16);
  }

  .terminal::before {
    content: "\2022 \2022 \2022";
    position: absolute;
    top: 0;
    left: 0;
    height: 4px;
    background: rgb(58, 58, 58);
    color: #c2c3c4;
    width: 100%;
    font-size: 2rem;
    line-height: 0;
    padding: 14px 0;
    text-indent: 4px;
  }

  .terminal pre {
    font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
    color: white;
    padding: 0 1rem 1rem;
    margin: 0;
  }

  .circle-link {
    height: 40px;
    width: 40px;
    border-radius: 40px;
    margin: 8px;
    background-color: white;
    border: 1px solid #eeeeee;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: 1s ease-out;
  }

  .circle-link:hover {
    transform: translateY(-0.25rem);
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  }

  footer {
    margin-top: 8px;
    display: flex;
    align-items: center;
    line-height: 20px;
  }

  footer a {
    display: flex;
    align-items: center;
  }

  .github-star-badge {
    color: #24292e;
    display: flex;
    align-items: center;
    font-size: 12px;
    padding: 3px 10px;
    border: 1px solid rgba(27,31,35,.2);
    border-radius: 3px;
    background-image: linear-gradient(-180deg,#fafbfc,#eff3f6 90%);
    margin-left: 4px;
    font-weight: 600;
  }

  .github-star-badge:hover {
    background-image: linear-gradient(-180deg,#f0f3f6,#e6ebf1 90%);
    border-color: rgba(27,31,35,.35);
    background-position: -.5em;
  }

  .github-star-badge .material-icons {
    height: 16px;
    width: 16px;
    margin-right: 4px;
  }

  svg#clouds {
    position: fixed;
    bottom: -160px;
    left: -230px;
    z-index: -10;
    width: 1920px;
  }

  /* Responsive Styles */
  @media screen and (max-width: 767px) {
    .card-container > *:not(.circle-link) ,
    .terminal {
      width: 100%;
    }

    .card:not(.highlight-card) {
      height: 16px;
      margin: 8px 0;
    }

    .card.highlight-card span {
      margin-left: 72px;
    }

    svg#rocket-smoke {
      right: 120px;
      transform: rotate(-5deg);
    }
  }

  @media screen and (max-width: 575px) {
    svg#rocket-smoke {
      display: none;
      visibility: hidden;
    }
  }
</style>


<button data-drawer-target="sidebar-multi-level-sidebar" data-drawer-toggle="sidebar-multi-level-sidebar" aria-controls="sidebar-multi-level-sidebar" type="button" class="inline-flex items-center p-2 mt-2 ml-3 text-sm text-gray-500 rounded-lg sm:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600">
  <span class="sr-only">Open sidebar</span>
  <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
     <path clip-rule="evenodd" fill-rule="evenodd" d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z"></path>
  </svg>
</button>

<aside id="sidebar-multi-level-sidebar" class="fixed top-0 left-0 z-40 w-96 px-8 h-screen transition-transform -translate-x-full sm:translate-x-0" aria-label="Sidebar">
  <a href="#" class="flex items-center py-4 mx-auto">
      <img src="https://icon-library.com/images/weather-app-icon/weather-app-icon-9.jpg" class="h-14 mr-3" alt="Weather Logo" />
      <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">Weather</span>
  </a>
  <form>   
    <label for="default-search" class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white">Search</label>
    <div class="relative">
        <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
            <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
            </svg>
        </div>
        <input type="search" id="default-search" class="block w-full p-4 pl-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Search your city..." required>
        <button type="submit" class="text-white absolute right-2.5 bottom-2.5 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Search</button>
    </div>
  </form>
  <div class="px-3 py-4 overflow-y-auto bg-gray-50 dark:bg-gray-800">
      <div class="flex items-center justify-center rounded bg-gray-50 dark:bg-gray-800 w-full">
          <img src={{wdata.current.condition.icon}} class="h-72 w-auto" alt="Weather Logo" />
       </div>
  </div>
  <div class="px-3 py-4 overflow-y-auto bg-gray-50 dark:bg-gray-800">
      <div class="flex flex-col items-start justify-start gap-y-4 rounded bg-gray-50 dark:bg-gray-800 w-full">
        <h1 class="text-8xl font-normal text-gray-800 dark:text-gray-500">{{wdata.current.temp_c}}<sup>&deg; C</sup> </h1>
        <p class="text-xl font-light text-start  text-gray-800 dark:text-gray-500">
          {{wdata.location.localtime | date:'EEEE'}} <span class="text-gray-500">{{wdata.location.localtime | date:'h:mm:ss a zzzz'}}</span>
        </p>
      </div>
  </div>
  <hr class="h-px my-4 mx-4 bg-gray-200 border-0 dark:bg-gray-700">
  <div class="px-3 py-4 overflow-y-auto bg-gray-50 dark:bg-gray-800">
    <div class="flex flex-col items-start justify-start rounded bg-gray-50 dark:bg-gray-800 w-full">
      <h1 class="text-xl font-normal text-gray-800 dark:text-gray-500">{{wdata.current.condition.text}}</h1>
      <p class="text-xl m-0 font-light text-start text-gray-800 dark:text-gray-500">Feels Like - {{wdata.current.feelslike_c}}<sup>&deg; C</sup></p>
    </div>
  </div>
  <div class="px-3 py-4 bg-gray-50 dark:bg-gray-800">
    <div class="flex items-center justify-center rounded bg-gray-50 dark:bg-gray-800 w-full">
      <figure class="relative w-full transition-all duration-300 cursor-pointer filter grayscale hover:grayscale-0">
        <a href="#">
          <img class="rounded-lg object-cover h-32 w-full" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/content/content-gallery-3.png" alt="image description">
        </a>
        <figcaption class="absolute w-full px-4 text-lg text-white bottom-10">
            <p class="text-center text-xl">{{wdata.location.name}} {{wdata.location.region}}, {{wdata.location.country}}</p>
        </figcaption>
      </figure>
    </div>
  </div>
</aside>

<div class="p-4 sm:ml-96">
  <nav class="border-gray-200 bg-gray-50 dark:bg-gray-800 dark:border-gray-700">
    <div class="w-full flex flex-wrap items-center justify-end mx-auto p-4">
      <label class="relative inline-flex items-center mb-4 cursor-pointer">
        <input type="checkbox" value="" class="sr-only peer">
        <div class="w-11 h-6 bg-gray-200 rounded-full peer peer-focus:ring-4 peer-focus:ring-gray-300 dark:peer-focus:ring-blue-800 dark:bg-gray-700 peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-0.5 after:left-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-gray-600"></div>
      </label>
    </div>
  </nav>
  <div class="py-16 px-36 rounded-lg h-screen dark:border-gray-700">
     <h4 class="text-2xl font-normal py-4 pb-8">Today's Highlights</h4>
     <div class="grid grid-cols-3 gap-12 mb-4">
        <div class="flex flex-row justify-between h-72 p-8 rounded-xl shadow shadow-gray-200 bg-gray-50 dark:bg-gray-800">
          <div class="flex flex-col gap-10">
            <p class="text-gray-400 font-normal">Air Quality</p>
            <h1 class="text-gray-800 text-6xl font-normal">105</h1>
            <p class="text-gray-400 font-normal">Unhealty</p>
          </div>
          <div class="w-1/2 flex justify-end items-center">
            <img src="https://ik.imagekit.io/v24zntfh1/weather/polluted_air.png?updatedAt=1689112009769" />
          </div>
        </div>
        <div class="flex flex-row justify-between h-72 p-8 rounded-xl shadow shadow-gray-200 bg-gray-50 dark:bg-gray-800">
          <div class="flex flex-col gap-10">
            <p class="text-gray-400 font-normal">Wind Speed</p>
            <h1 class="text-gray-800 text-6xl font-normal">{{wdata.current.wind_kph}} <sub class="text-2xl font-medium">Km/h</sub> </h1>
            <!-- <p class="text-gray-400 font-normal">{{wdata.current.wind_dir}}</p> -->
          </div>
          <div class="w-1/2 flex justify-end items-center">
            <img class="" src="https://ik.imagekit.io/v24zntfh1/weather/wind_05yRD9jy2.png?updatedAt=1689111367483" />
          </div>
        </div>

        <div class="flex flex-col h-72 p-8 gap-10 rounded-xl shadow shadow-gray-200 bg-gray-50 dark:bg-gray-800">
          <p class="text-gray-400 font-normal">Sun Rise & Sun Set</p>
          <div class="flex flex-row items-center">
            <button type="button" class="text-white bg-yellow-300 border-4 border-yellow-400 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-full text-sm p-2.5 text-center inline-flex items-center mr-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" viewBox="0 0 384 512">
                <style>svg{fill:#ffffff}</style><path d="M214.6 41.4c-12.5-12.5-32.8-12.5-45.3 0l-160 160c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L160 141.2V448c0 17.7 14.3 32 32 32s32-14.3 32-32V141.2L329.4 246.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3l-160-160z"/>
              </svg>
              <span class="sr-only">Up Arrow</span>
            </button>
            <p class="font-bold text-lg text-gray-800">{{wdata.forecast.forecastday[0].astro.sunrise}} </p>
          </div>
          <div class="flex flex-row items-center">
            <button type="button" class="text-white bg-yellow-300 border-4 border-yellow-400 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-full text-sm p-2.5 text-center inline-flex items-center mr-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" viewBox="0 0 384 512">
                <style>svg{fill:#ffffff}</style><path d="M169.4 470.6c12.5 12.5 32.8 12.5 45.3 0l160-160c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L224 370.8 224 64c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 306.7L54.6 265.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l160 160z"/>
              </svg>
              <span class="sr-only">Up Down</span>
            </button>
            <p class="font-bold text-lg text-gray-800">{{wdata.forecast.forecastday[0].astro.sunset}}</p>
          </div>
        </div>

        <div class="flex flex-row justify-between h-72 p-8 rounded-xl shadow shadow-gray-200 bg-gray-50 dark:bg-gray-800">
          <div class="flex flex-col gap-10">
            <p class="text-gray-400 font-normal">Humidity</p>
            <h1 class="text-gray-800 text-6xl font-normal">{{wdata.current.humidity}} <sup class="text-4xl">%</sup></h1>
            <p class="text-gray-400 font-normal">High</p>
          </div>
          <div class="w-1/2 flex justify-end items-center">
            <img class="" src="https://ik.imagekit.io/v24zntfh1/weather/humidity_wujt9XU3s.png?updatedAt=1689112700791" />
          </div>
        </div>

        <div class="flex col-span-2 justify-between h-72 p-8 rounded-xl shadow shadow-gray-200 bg-gray-50 dark:bg-gray-800">
          <div class="flex flex-col gap-10">
            <p class="text-gray-400 font-normal">Quote of the day</p>
            <h1 class="text-gray-800 text-xl font-normal">{{qdata.quote}}</h1>
            <p class="text-gray-400 font-normal">Author - {{qdata.author}}</p>
          </div>
        </div>
     </div>
     
  </div>
</div>


<router-outlet></router-outlet>
